body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
header{
    width: 100%;
    height: 70px;
 
}
ul{
    width:auto;
    float:right;
    margin-top: 20px;
    padding-right:250px;
}
li{
    display: inline-block;
    padding: 15 px 30px;
}
a{
    text-align: center;
    padding: 20px;
    color:black;
    text-decoration:initial;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, serif;
    font-size: 1.2vw;
padding-right: 30px;
}
a:hover{
   color:#F0c330;
   transition: 0.5s;

}
h1{
    font-size: 50px;
}
#hello{
    color: #4B0082;
    padding-top: 30%;
}
#name{
    color: blue;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 200;
}
p{
    color: dimgray;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.half-width img{
    width:100%;
}
#balance{
   
    margin-top: 200px;
    
}




.container{
    padding: 10%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;

    flex-basis: 10%;
}
.colums{
    margin:0 15px 25px ;
    box-shadow:10px 10px 40px grey;
    background: #fff;
    border-radius: 10px;
}
.card{
    padding: 15px 25px;
}

img{
    width: 100%;
    max-width: 100%;
}

.last-section{
    padding: 5%;
    max-width:  800px;
    width: 100%;
    margin: 0 auto;
    display: inline-flexbox;

}
.work-inquiry{
    margin:0 10px 10px ;
    box-shadow:10px 10px 40px rgb(40, 36, 49);
   background-image: url("images/Group_33094_1.png");
    border-radius: 90px;
}
.button{
    padding: 80px 150px;
    text-align: left ;
    color:  blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#hire-me{
    padding-right: 20px;
}

footer{
    text-align: center;
    
}
